html,
body {
    height: 100%;
    background: -webkit-linear-gradient(125deg, #7b4397, #dc2430);
    background: linear-gradient(125deg, #7b4397, #dc2430);
    background-attachment: fixed;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

body .wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 40rem) {
    .container {
        max-width: 60rem;
    }
}
