.cards {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    justify-content: space-around;
}

.cards .card {
    flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;

    margin: 0.5rem;
    border-radius: .4rem;
    color: #fff;
}
