.search {
    margin: 0 auto;
    margin-top: 2.5rem;
    max-width: 60rem;
}

.search .search-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/* BAR */

.search .searchbar {
    background-color: #fff;
}


/* BUTTON */

.search .searchbar:focus {
    border-color: transparent;
}

.search .searchbutton {
    font-weight: normal;
    margin-left: 1rem;
    padding: 0 1.5rem;
}


/* BAR + BUTTON */

.search .searchbutton,
.search .searchbar {
    font-size: 2rem;

    height: 4rem;
    line-height: 4rem;
}


/* RESULT */

.search .search-result {
    margin-top: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.search-result .search-result-item {
    color: #fff;
    padding: 10px;
}

.search-result .search-result-item .header .poster {
    margin: 0 auto;
    border-radius: .4rem;
}

.search-result .search-result-item .header .poster.empty {
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.search-result .search-result-item .footer {
    font-size: 0.3em;
    letter-spacing: 0rem;
    padding: 1rem 0.5rem 0 0.5rem;
}
