.wrapper section.container {
    padding: 0 1rem;
}

.analysis {
    margin-bottom: 5rem;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #9b4dca;
    border-radius: 10px;
}

.card {
    padding: 1rem;
    margin-top: 0.8rem;
    border-radius: .4rem;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: .1rem;
    border-style: solid;
}

.card.active {
    font-weight: bold;
    border-color: #fff;
}

.arrow {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.arrow.left:before,
.arrow.right:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arrow.left:before {
    content: '←';
}
.arrow.right:before {
    content: '→';
}
