{% extends "layout.html" %}


{% block header %}
  {% assets "analysis-css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  {% assets "analysis-js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}


{% block content %}

  <div id="app">

    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>

  </div>

{% endblock %}
