{% extends "layout.html" %}

{% block header %}
  {% assets "home" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% block content %}

  <h1 class="cover-heading">

    Discover new vocabulary in movies.

    <div class="search container">
      <div class="search-input input-group">
        <form action="/" method="GET">
          <input type="text"
                name="q"
                value="{{query}}"
                autofocus
                class="form-control"
                autocomplete="off"
                placeholder="Search for ...">
        </form>
      </div>

      <div class="search-result">
        {% if result %}
          {% for item in result %}
          <div class="search-result-item">
            <a href="/{{ item.id }}">{{ item.title }} ({{ item.year }})</a>
          </div>
          {% endfor %}
        {% endif %}
      </div>

  </h1>

{% endblock %}
