{% extends "layout.html" %}

{% block header %}
  {% assets "home" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% block content %}

  <h1 class="cover-heading">

    Discover new vocabulary in movies.

    <div class="search container">
      <div class="search-input input-group">
        <form action="/" method="GET">
          <fieldset>
            <div class="search-wrapper">
              <input type="text"
                    class="searchbar"
                    name="q"
                    value="{{query}}"
                    autofocus
                    class="form-control"
                    autocomplete="off"
                    placeholder="Search movie ...">
              <input class="button searchbutton" type="submit" value="go">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="cards search-result">
        {% if result %}
          {% for item in result %}
          <a class="card search-result-item" href="/m/{{ item.id }}">
            <div class="header">
              {% if item.poster_url %}
                <img class="poster" src="{{ item.poster_url }}">
              {% else %}
                <div class="poster empty"></div>
              {% endif %}
            </div>
            <div class="footer">
              {{ item.title }}
            </div>
          </a>
          {% endfor %}
        {% endif %}
      </div>

  </h1>

{% endblock %}
