{% extends "layout.html" %}


{% block header %}
  {% assets "home-css" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  {% assets "home-js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}


{% block content %}

  <h1 class="heading">
    Discover new vocabulary in movies.
  </h1>

  <div class="search">
    <div class="search-input input-group">
      <form id="search" action="/" method="GET">
        <div class="search-wrapper">
          <input type="text"
                 class="searchbar"
                 name="q"
                 value="{{query}}"
                 autofocus
                 class="form-control"
                 autocomplete="off"
                 placeholder="Search movie ...">

          <input type="submit"
                 class="button searchbutton"
                 value="go">
        </div>
      </form>
    </div>

    <div class="search-result-wrapper">
      <div class="search-result">
      {% if result %}
        {% for item in result %}
        <div class="search-result-item">
          <a class="header" href="/m/{{ item.id }}">
            {% if item.poster_url %}
              <img class="poster" src="{{ item.poster_url }}">
            {% else %}
              <img class="poster empty" src="/static/img/placeholder.png">
            {% endif %}
          </a>
          <div class="footer">
            {{ item.title }}
          </div>
        </div>
        {% endfor %}
      {% elif result is not none %}
        No movie was found.
      {% endif %}
      </div>
    </div>

  </div>

  {% if result %}
  <footer class="credit">
    Posters provided by <a href="https://fanart.tv">fanart.tv</a>
  </footer>
  {% endif %}

{% endblock %}
