<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Discover new vocabulary in movies</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    {% assets "global" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% assets "layout" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% block header %}{% endblock %}
  </head>

  <body>

    <main class="wrapper">

      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="/">
            <h1 class="title">subvoc</h1>
          </a>
        </section>
      </nav>

      <section class="container">
        <div id="app" class="inner cover">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
