.wrapper > .container {
    padding: 0 1rem;
}


.analysis {
}

.analysis.list .word-list {
    display: block;
}

.analysis.detail .word-detail {
    display: block;
}

.card {
    padding: 1rem;
    margin-top: 0.8rem;
    border-radius: .4rem;
    background: rgba(0, 0, 0, 0.4);
}

.arrow {
    position: absolute;

    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;

    height: 20px;
    width: 20px;
}


/* LIST */

.word-list {
    display: none;
}

.word-list .word-item {
    text-align: left;
    position: relative;
    cursor: pointer;
}

.word-list .word-item .arrow {
    right: 10px;
    top: 29%;
}


/* DETAILS */

.word-detail {
    display: none;
}

.word-detail header {
    position: relative;
}

.word-detail .header .arrow {
    left: 10px;
    top: 29%;
}
