.wrapper > .container {
    padding: 0 1rem;
}


.error {
    margin-top: 5rem;
}

.analysis {
    margin-bottom: 5rem;
}

.analysis.list .word-list {
    display: block;
}

.analysis.detail .word-detail {
    display: block;
}

.card {
    padding: 1rem;
    margin-top: 0.8rem;
    border-radius: .4rem;
    border: .1rem solid #fff;
}

.arrow {
    position: absolute;

    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;

    height: 20px;
    width: 20px;
}

