.word-detail .head {
    position: relative;
    margin-top: 3rem;
}


.word-detail .body {
    margin-top: 2.5rem;
}

.word-detail .body .tab-group .tab {
    margin: 1rem 0 0 0.5rem;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 7rem;
    height: 5rem;
}

.word-detail .body .tab-group .tab:first-child {
    margin-left: 0;
}

.word-detail .body .tab-group .tab .count {
    display: inline-block;
}

.word-detail .body .tab-group .tab.empty {
    cursor: default;
    color: #aaa;
}


.word-detail .body .excerpts {
    margin-top: 4rem;
}

.word-detail .body .excerpts .example {
    margin-top: 2rem;
    text-align: left;
    font-style: italic;
}


.word-detail .body .definitions {
    margin-top: 4rem;
}

.word-detail .body .definitions .definition {
    margin-top: 2rem;
    text-align: left;
}


.word-detail .attribution {
    margin-top: 3rem;
    font-size: 0.5rem;
}

.word-detail .attribution .attribution_dictionary {
    float: left;
    padding: 0.4rem;
}

.word-detail .attribution .attribution_api {
    float: right;
    padding: 0 0.4rem;
}
