.word-detail {
    display: none;
}

.word-detail .head {
    position: relative;
}

.word-detail .body {
    margin-top: 2.5rem;
}

.word-detail .body .tab-group {
}

.word-detail .body .tab-group .tab {
    display: inline;
    padding: 0 2rem;
    cursor: pointer;
}

.word-detail .body .tab-group .tab.active {
    text-decoration: underline;
}

.word-detail .body .tab-group .tab.empty {
    cursor: default;
    color: #aaa;
}

.word-detail .body .examples .example {
    margin-top: 2rem;
    text-align: left;
}

.word-detail .body .explanations .explanation {
    margin-top: 2rem;
    text-align: left;
}


.analysis.detail .attribution {
    margin-top: 1rem;
    font-size: 0.5rem;
}

.analysis.detail .attribution .attribution_dictionary {
    float: left;
    padding: 0.4rem;
}

.analysis.detail .attribution .attribution_api {
    float: right;
    padding: 0 0.4rem;
}
