.word-list .media {
    margin-top: 4rem;
}

.word-list .difficulty {
    margin: 3rem 0;
}

.word-list .difficulty .group {
    margin: 1rem 0 0 0.5rem;
    display: inline-block;
    cursor: pointer;
    width: 7rem;
    height: 5rem;
    text-align: center;
}

.word-list .difficulty .group:first-child {
    margin-left: 0;
}

.word-list .difficulty .label {
    text-transform: capitalize;
}

.word-list .difficulty .group .count {
    display: inline-block;
}

.word-list .word-item {
    text-align: left;
    position: relative;
    cursor: pointer;
    border-color: rgba(255,255,255,0.7);
}

.word-list .word-item .count {
    margin-left: 1rem;
}

.word-list .word-item .arrow {
    right: 1rem;
    opacity: 0.75;
}
